.ed,
.edit,
.modyal {
    display: none;
}

.tabs {
    margin-top: 3.25rem;
}

.modyal {
    max-width: 500px;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px #444;
    border-radius: 10px 10px 0 0;
}

.modyal .message {
    max-height: 24em;
    overflow-y: auto;
}

.modyal .message-body {
    margin-top: 2.2em;
}

.field .icon,
.field .help {
    display: none;
}

@media screen and (max-width: 960px) {
    .modyal {
        max-height: 80%;
    }

    .ma::after {
        content: ' :';
    }
    .ma:first-child {
        border-top: 1px solid #ccc;
    }
    .mb {
        border-bottom: 1px solid #ccc;
    }
}

@media screen and (min-width: 960px) {
    .modyal {
        max-height: 24em;
    }

    .mb::before {
        content: ': ';
    }
}